.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 80%;
}
.about-img {
  width: 40%;
  margin-right: 20px;
}

.about-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.about-text {
  width: 60%;
}

.about-text h2 {
  color: rgb(186, 110, 10);
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.about-text p {
  font-size: 18px;
  margin-bottom: 10px;
}
.about {
  border-left: 10px solid rgb(186, 110, 10);
  padding-left: 10px;
}
.mission-btn,
.vision-btn {
  background-color: rgb(186, 110, 10);
  color: #fff;
  /* border: none; */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  margin-bottom: 20px;
  width: 40%;
}
.about-img button {
  margin-bottom: 20px;
}
.mission-btn:hover,
.vision-btn:hover {
  background-color: rgb(186, 110, 10);
}
